<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.dao.MybatisMapDao">

	<cache/>

	<resultMap id="mapEntryResultMap"
		type="edu.mayo.cts2.framework.model.mapversion.MapEntry">
		<result property="mapFrom.name" column="sourceEntityCode" />
		<result property="mapFrom.namespace" column="sourceNamespace" typeHandler="spaceToUnderscoreTypeHandler" />
		<result property="mapFrom.uri" column="sourceUri" typeHandler="uuidUriTypeHandler"/>
		<result property="processingRule" column="processingRule" />
		<association property="assertedBy" resultMap="mapVersionReferenceResultMap" />
		<collection property="mapSetAsReference" javaType="edu.mayo.cts2.framework.model.mapversion.MapSet">
			<result property="processingRule" column="processingRule" />
			<result property="entryOrder" column="entryOrder"/>
			<collection property="mapTargetAsReference" javaType="edu.mayo.cts2.framework.model.mapversion.MapTarget">
				<result property="mapTo.name" column="targetEntityCode" />
				<result property="mapTo.namespace" column="targetNamespace" typeHandler="spaceToUnderscoreTypeHandler" />
				<result property="mapTo.uri" column="targetUri" typeHandler="uuidUriTypeHandler"/>
				<result property="entryOrder" column="entryOrder"/>
			</collection>
		</collection>
	</resultMap>
	
	<resultMap id="mapEntryDirectoryEntryResultMap"
		type="edu.mayo.cts2.framework.model.mapversion.MapEntryDirectoryEntry">
		<result property="mapFrom.name" column="sourceEntityCode" />
		<result property="mapFrom.namespace" column="sourceNamespace" typeHandler="spaceToUnderscoreTypeHandler" />
		<result property="mapFrom.uri" column="sourceUri" typeHandler="uuidUriTypeHandler"/>
		<association property="assertedBy" resultMap="mapVersionReferenceResultMap" />
	</resultMap>
	
	<resultMap id="mapVersionReferenceResultMap"
		type="edu.mayo.cts2.framework.model.core.MapVersionReference">
		<association property="map" resultMap="mapReferenceResultMap" />
		<association property="mapVersion" resultMap="nameAndMeaningReferenceResultMap" />
	</resultMap>
	
	<resultMap id="mapReferenceResultMap"
		type="edu.mayo.cts2.framework.model.core.MapReference">
		<result property="content" column="map" typeHandler="spaceToUnderscoreTypeHandler" />
		<result property="uri" column="mapUri" />
	</resultMap>

	<resultMap id="nameAndMeaningReferenceResultMap"
		type="edu.mayo.cts2.framework.model.core.NameAndMeaningReference">
		<result property="content" column="mapVersion" typeHandler="spaceToUnderscoreTypeHandler" />
		<result property="uri" column="mapVersionUri" />
	</resultMap>
	
	<resultMap id="mapEntrySummaryResultMap"
		type="edu.mayo.cts2.framework.model.map.MapCatalogEntrySummary">
		<result property="mapName" column="map" typeHandler="spaceToUnderscoreTypeHandler" />
		<result property="about" column="about" />
		<result property="formalName" column="formalName" />
		<result property="resourceSynopsis.value.content" column="description" />
		<association property="fromCodeSystem" resultMap="fromCodeSystemReferenceResultMap" />
		<association property="toCodeSystem" resultMap="toCodeSystemReferenceResultMap" />
		<association property="currentVersion" resultMap="mapVersionReferenceResultMap" />
	</resultMap>
	
	<resultMap id="mapCatalogEntryResultMap"
		type="edu.mayo.cts2.framework.model.map.MapCatalogEntry">
		<result property="mapName" column="map" typeHandler="spaceToUnderscoreTypeHandler" />
		<result property="about" column="about" />
		<result property="formalName" column="formalName" />
		<result property="resourceSynopsis.value.content" column="description" />
		<association property="fromCodeSystem" resultMap="fromCodeSystemReferenceResultMap" />
		<association property="toCodeSystem" resultMap="toCodeSystemReferenceResultMap" />
		<association property="currentVersion" resultMap="mapVersionReferenceResultMap" />
	</resultMap>
	
	<resultMap id="mapVersionDirectoryEntryResultMap"
		type="edu.mayo.cts2.framework.model.mapversion.MapVersionDirectoryEntry">
		<result property="mapVersionName" column="mapVersion" typeHandler="spaceToUnderscoreTypeHandler" />
		<result property="documentURI" column="documentUri" />
		<result property="about" column="about" />
		<result property="formalName" column="formalName" />
		<result property="resourceSynopsis.value.content" column="description" />
		<result property="officialResourceVersionId" column="version" />
		<association property="versionOf" resultMap="mapReferenceResultMap" />
	</resultMap>
	
	<resultMap id="mapVersionResultMap"
		type="edu.mayo.cts2.framework.model.mapversion.MapVersion">
		<result property="mapVersionName" column="mapVersion" typeHandler="spaceToUnderscoreTypeHandler" />
		<result property="documentURI" column="documentUri" />
		<result property="about" column="about" />
		<result property="formalName" column="formalName" />
		<result property="resourceSynopsis.value.content" column="description" />
		<result property="officialResourceVersionId" column="version" />
		<association property="versionOf" resultMap="mapReferenceResultMap" />
		<association property="fromCodeSystemVersion" resultMap="fromCodeSystemVersionReferenceResultMap" />
		<association property="toCodeSystemVersion" resultMap="toCodeSystemVersionReferenceResultMap" />
	</resultMap>
	
	<resultMap id="fromCodeSystemVersionReferenceResultMap" 
		type="edu.mayo.cts2.framework.model.core.CodeSystemVersionReference">
		<association property="codeSystem" resultMap="fromCodeSystemReferenceResultMap" />
		<association property="version" resultMap="fromCodeSystemVersionNameAndMeaningResultMap" />
	</resultMap>
	
	<resultMap id="toCodeSystemVersionReferenceResultMap" 
		type="edu.mayo.cts2.framework.model.core.CodeSystemVersionReference">
		<association property="codeSystem" resultMap="toCodeSystemReferenceResultMap" />
		<association property="version" resultMap="toCodeSystemVersionNameAndMeaningResultMap" />
	</resultMap>
			
	<resultMap id="toCodeSystemReferenceResultMap" 
		type="edu.mayo.cts2.framework.model.core.CodeSystemReference">
		<result property="uri" column="toCodeSystemUri"  />
		<result property="content" column="toCodeSystemName" typeHandler="spaceToUnderscoreTypeHandler" />
	</resultMap>
	
	<resultMap id="fromCodeSystemReferenceResultMap" 
		type="edu.mayo.cts2.framework.model.core.CodeSystemReference">
		<result property="uri" column="fromCodeSystemUri"  />
		<result property="content" column="fromCodeSystemName" typeHandler="spaceToUnderscoreTypeHandler" />
	</resultMap>

	<resultMap id="toCodeSystemVersionNameAndMeaningResultMap" 
		type="edu.mayo.cts2.framework.model.core.NameAndMeaningReference">
		<result property="uri" column="toCodeSystemVersionUri"  />
		<result property="content" column="toCodeSystemVersionName" typeHandler="spaceToUnderscoreTypeHandler" />
	</resultMap>
	
	<resultMap id="fromCodeSystemVersionNameAndMeaningResultMap" 
		type="edu.mayo.cts2.framework.model.core.NameAndMeaningReference">
		<result property="uri" column="fromCodeSystemVersionUri"  />
		<result property="content" column="fromCodeSystemVersionName" typeHandler="spaceToUnderscoreTypeHandler" />
	</resultMap>

	<select id="getMapEntryById"
		resultMap="mapEntryResultMap">
		
		SELECT   
		    eae.SOURCEENTITYCODE            AS sourceEntityCode,
	        eae.SOURCEENTITYCODENAMESPACE   AS sourceNamespace,
	        sourceEntity.ENTITYGUID         AS sourceUri,
	        eae.TARGETENTITYCODE            AS targetEntityCode,
	        eae.TARGETENTITYCODENAMESPACE   AS targetNamespace,
	        targetEntity.ENTITYGUID         AS targetUri,
			
			'ALL_MATCHES' AS processingRule,
			'1' AS entryOrder,
			
			<include refid="mapVersionReferenceSql"/>
			
        FROM  
        	RELATION rel
        	
        INNER JOIN
        	CODINGSCHEME cs
        ON rel.CODINGSCHEMEGUID = cs.CODINGSCHEMEGUID
        
        INNER JOIN
        	ASSOCIATIONPREDICATE ap
        ON rel.RELATIONGUID = ap.RELATIONGUID
        
        INNER JOIN
        	ENTITYASSNSTOENTITY eae
        ON ap.ASSOCIATIONPREDICATEGUID = eae.ASSOCIATIONPREDICATEGUID
        
        LEFT JOIN
        	ENTITY sourceEntity
        ON (
        	sourceEntity.ENTITYCODE = eae.SOURCEENTITYCODE
        	AND
        	sourceEntity.ENTITYCODENAMESPACE = eae.SOURCEENTITYCODENAMESPACE
        )
        
        LEFT JOIN
        	ENTITY targetEntity
        ON (
        	targetEntity.ENTITYCODE = eae.TARGETENTITYCODE
        	AND
        	targetEntity.ENTITYCODENAMESPACE = eae.TARGETENTITYCODENAMESPACE
        )
        
        WHERE
        	rel.CODINGSCHEMEGUID = #{mapGuid}
        AND
        	sourceEntity.ENTITYCODE = #{mapFromCode}

	</select>

	<select id="getMapEntries"
		resultMap="mapEntryDirectoryEntryResultMap">
		
		<include refid="getMapEntriesSql"/>
     
        WHERE
        	rel.CODINGSCHEMEGUID = #{mapGuid}
               
        <include refid="common.limitOffset"/>	
        
	</select>
	
	<select id="getAllMapEntries"
		resultMap="mapEntryDirectoryEntryResultMap">
		
		<include refid="getMapEntriesSql"/>

        <include refid="common.limitOffset"/>	
        
	</select>
	
	<select id="getMapVersions"
		resultMap="mapVersionDirectoryEntryResultMap">
		
		<include refid="getMapVersionsSql"/>
		
		AND
			cs.CODINGSCHEMEGUID = #{mapGuid}
		
        <include refid="common.limitOffset"/>	
		
	</select>
	
	<select id="getAllMapVersions"
		resultMap="mapVersionDirectoryEntryResultMap">
		
		<include refid="getMapVersionsSql"/>
		
        <include refid="common.limitOffset"/>	
        
	</select>
	
	<select id="getMaps"
		resultMap="mapEntrySummaryResultMap">
		
		SELECT
			cs.CODINGSCHEMEURI AS about,
			cs.CODINGSCHEMENAME AS map,
			cs.FORMALNAME AS formalName,
			cs.DESCRIPTION AS description,
			
			toCs.CODINGSCHEMENAME AS toCodeSystemName,
			toCs.CODINGSCHEMEURI AS toCodeSystemUri,
			
			fromCs.CODINGSCHEMENAME AS fromCodeSystemName,
			fromCs.CODINGSCHEMEURI AS fromCodeSystemUri,
			
			CONCAT(cs.CODINGSCHEMENAME, "-v", cs.REPRESENTSVERSION) AS mapVersion,			
			CONCAT(cs.CODINGSCHEMEURI, ":", cs.REPRESENTSVERSION) AS mapVersionUri

		FROM
			CODINGSCHEME cs
		
		INNER JOIN
			RELATION rel
		ON rel.CODINGSCHEMEGUID = cs.CODINGSCHEMEGUID
		
		INNER JOIN
			CODINGSCHEME toCs
		ON rel.TARGETCODINGSCHEME = toCs.CODINGSCHEMENAME
		
		INNER JOIN
			CODINGSCHEME fromCs
		ON rel.SOURCECODINGSCHEME = fromCs.CODINGSCHEMENAME
		
		WHERE
			rel.isMapping = TRUE
		
        <include refid="common.limitOffset"/>	
        
	</select>
	
	<select id="getMap" resultMap="mapCatalogEntryResultMap">
		
		SELECT
			cs.CODINGSCHEMEURI AS about,
			cs.CODINGSCHEMENAME AS map,
			cs.FORMALNAME AS formalName,
			cs.DESCRIPTION AS description,
			
			toCs.CODINGSCHEMENAME AS toCodeSystemName,
			toCs.CODINGSCHEMEURI AS toCodeSystemUri,
			
			fromCs.CODINGSCHEMENAME AS fromCodeSystemName,
			fromCs.CODINGSCHEMEURI AS fromCodeSystemUri,
			
			CONCAT(cs.CODINGSCHEMENAME, "-v", cs.REPRESENTSVERSION) AS mapVersion,			
			CONCAT(cs.CODINGSCHEMEURI, ":", cs.REPRESENTSVERSION) AS mapVersionUri

		FROM
			CODINGSCHEME cs
		
		INNER JOIN
			RELATION rel
		ON rel.CODINGSCHEMEGUID = cs.CODINGSCHEMEGUID
		
		INNER JOIN
			CODINGSCHEME toCs
		ON rel.TARGETCODINGSCHEME = toCs.CODINGSCHEMENAME
		
		INNER JOIN
			CODINGSCHEME fromCs
		ON rel.SOURCECODINGSCHEME = fromCs.CODINGSCHEMENAME
		
		WHERE
			rel.isMapping = TRUE
		AND
        	rel.CODINGSCHEMEGUID = #{mapGuid}
        	
	</select>
	
	<select id="getMapVersion" resultMap="mapVersionResultMap">
		
		SELECT
			cs.CODINGSCHEMEURI AS about,
			cs.CODINGSCHEMENAME AS map,
			cs.FORMALNAME AS formalName,
			cs.DESCRIPTION AS description,
			
			cs.CODINGSCHEMEURI AS about,
			
			toCs.CODINGSCHEMENAME AS toCodeSystemName,
			toCs.CODINGSCHEMEURI AS toCodeSystemUri,
			
			fromCs.CODINGSCHEMENAME AS fromCodeSystemName,
			fromCs.CODINGSCHEMEURI AS fromCodeSystemUri,
			
			CONCAT(toCs.CODINGSCHEMENAME, "-v", toCs.REPRESENTSVERSION) AS toCodeSystemVersion,			
			CONCAT(toCs.CODINGSCHEMEURI, ":", toCs.REPRESENTSVERSION) AS toCodeSystemVersionUri,
			
			CONCAT(fromCs.CODINGSCHEMENAME, "-v", fromCs.REPRESENTSVERSION) AS fromCodeSystemVersion,			
			CONCAT(fromCs.CODINGSCHEMEURI, ":", fromCs.REPRESENTSVERSION) AS fromCodeSystemVersionUri,
			
			CONCAT(cs.CODINGSCHEMENAME, "-v", cs.REPRESENTSVERSION) AS mapVersion,			
			CONCAT(cs.CODINGSCHEMEURI, ":", cs.REPRESENTSVERSION) AS documentUri

		FROM
			CODINGSCHEME cs
		
		INNER JOIN
			RELATION rel
		ON rel.CODINGSCHEMEGUID = cs.CODINGSCHEMEGUID
		
		INNER JOIN
			CODINGSCHEME toCs
		ON rel.TARGETCODINGSCHEME = toCs.CODINGSCHEMENAME
		
		INNER JOIN
			CODINGSCHEME fromCs
		ON rel.SOURCECODINGSCHEME = fromCs.CODINGSCHEMENAME
		
		WHERE
			rel.isMapping = TRUE
		AND
        	rel.CODINGSCHEMEGUID = #{mapGuid}
        	
	</select>

	<sql id="getMapVersionsSql">
		SELECT
			cs.REPRESENTSVERSION AS version,
			cs.FORMALNAME AS formalName,
			cs.DESCRIPTION AS description,
			
			toCs.CODINGSCHEMENAME AS toCodeSystemName,
			toCs.CODINGSCHEMEURI AS toCodeSystemUri,
			
			cs.CODINGSCHEMENAME AS map,
			cs.CODINGSCHEMEURI AS mapUri,
			
			cs.CODINGSCHEMEURI AS about,
			
			fromCs.CODINGSCHEMENAME AS fromCodeSystemName,
			fromCs.CODINGSCHEMEURI AS fromCodeSystemUri,
			
			CONCAT(cs.CODINGSCHEMENAME, "-v", cs.REPRESENTSVERSION) AS mapVersion,			
			CONCAT(cs.CODINGSCHEMEURI, ":", cs.REPRESENTSVERSION) AS documentUri

		FROM
			CODINGSCHEME cs
		
		INNER JOIN
			RELATION rel
		ON rel.CODINGSCHEMEGUID = cs.CODINGSCHEMEGUID
		
		INNER JOIN
			CODINGSCHEME toCs
		ON rel.TARGETCODINGSCHEME = toCs.CODINGSCHEMENAME
		
		INNER JOIN
			CODINGSCHEME fromCs
		ON rel.SOURCECODINGSCHEME = fromCs.CODINGSCHEMENAME
		
		WHERE
			rel.isMapping = TRUE
	</sql>

	<sql id="getMapEntriesSql">
		SELECT   
			sourceEntity.ENTITYCODE AS sourceEntityCode,
			sourceEntity.ENTITYCODENAMESPACE AS sourceNamespace,
			sourceEntity.ENTITYGUID AS sourceUri,
			
			<include refid="mapVersionReferenceSql"/>
			
        FROM  
        	RELATION rel
        	
        INNER JOIN
        	CODINGSCHEME cs
        ON rel.CODINGSCHEMEGUID = cs.CODINGSCHEMEGUID
        
        INNER JOIN
        	ASSOCIATIONPREDICATE ap
        ON rel.RELATIONGUID = ap.RELATIONGUID
        
        INNER JOIN
        	ENTITYASSNSTOENTITY eae
        ON ap.ASSOCIATIONPREDICATEGUID = eae.ASSOCIATIONPREDICATEGUID
        
        INNER JOIN
        	ENTITY sourceEntity
        ON (
        	sourceEntity.ENTITYCODE = eae.SOURCEENTITYCODE
        	AND
        	sourceEntity.ENTITYCODENAMESPACE = eae.SOURCEENTITYCODENAMESPACE
        )
	</sql>
	
	<sql id="mapVersionReferenceSql">
		cs.CODINGSCHEMENAME AS map,
		cs.CODINGSCHEMEURI AS mapUri,
		CONCAT(cs.CODINGSCHEMENAME, "-v1") AS mapVersion,			
		CONCAT(cs.CODINGSCHEMEURI, ":1") AS mapVersionUri
	</sql>
	
</mapper>