<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
	<typeAliases>
		<typeAlias alias="LimitOffset" type="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.pagination.LimitOffset"/>
		<typeAlias alias="valueSetNameHandler" type="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.typehandlers.ValueSetNameTypeHandler"/>
		<typeAlias alias="uuidUriTypeHandler" type="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.typehandlers.UuidUriTypeHandler"/>
		<typeAlias alias="transitiveResult" type="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.dao.TransitiveResult"/>
		<typeAlias alias="valueSetDefinitionEntryInfo" type="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.dao.ValueSetDefinitionEntryInfo"/>
	</typeAliases>
	
    <mappers>
    	<mapper resource="mybatis/commonMapper.xml"/>
        <mapper resource="mybatis/codeSystemMapper.xml"/>
        <mapper resource="mybatis/resolvedValueSetMapper.xml"/>
    </mappers>
</configuration>