<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.dao.MybatisResolvedValueSetDao">

	<resultMap id="resolvedValueSetDirectoryEntryResultMap"
		type="edu.mayo.cts2.framework.model.valuesetdefinition.ResolvedValueSetDirectoryEntry">
		<result property="resolvedValueSetUri" column="resolvedValueSetUri" />
		<result property="resourceName" column="resolvedValueSetLocalName" />
		<association property="resolvedHeader" resultMap="resolvedValueSetHeaderResultMap" />
	</resultMap>

	<resultMap id="resolvedValueSetHeaderResultMap" type="edu.mayo.cts2.framework.model.valuesetdefinition.ResolvedValueSetHeader">
		<association property="resolutionOf"  resultMap="resolutionOfResultMap" />
         <collection property="resolvedUsingCodeSystemAsReference"  resultMap="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.dao.MybatisCodeSystemDao.codeSystemVersionReferenceResultMap"
         ofType="edu.mayo.cts2.framework.model.core.CodeSystemVersionReference" />
     </resultMap>

	<resultMap id="resolutionOfResultMap" type="edu.mayo.cts2.framework.model.core.ValueSetDefinitionReference">
		<association property="valueSet" resultMap="valueSetReferenceResultMap" />
		<association  property="valueSetDefinition" resultMap="valueSetDefinitionReferenceResultMap"/>
	</resultMap>
	
	<resultMap id="valueSetDefinitionReferenceResultMap" type="edu.mayo.cts2.framework.model.core.NameAndMeaningReference">
		<result property="content" column="valueSetDefinitionName" />
		<result property="uri" column="valueSetDefinitionUri" />
	</resultMap>
	
	<resultMap id="valueSetReferenceResultMap" type="edu.mayo.cts2.framework.model.core.ValueSetReference">
		<result property="content" column="valueSetName" />
		<result property="uri" column="valueSetUri" typeHandler="uuidUriTypeHandler"/>
	</resultMap>
	
	<resultMap id="entitySynonpsisResultMap" type="edu.mayo.cts2.framework.model.core.EntitySynopsis">
		<result property="uri" column="uri" typeHandler="uuidUriTypeHandler"/>
		<result property="href" column="href"/>
		<result property="namespace" column="entityNamespace"  />
		<result property="name" column="entityName"/>
		<result property="designation" column="designation" />
	</resultMap>
	
	<sql id="equalsVsDefName">
		vsd.VALUESETDEFNAME = #{valueSetName, typeHandler=valueSetNameHandler}	
	</sql>

	<select id="getResolvedValueSetSynopsis"
		resultMap="entitySynonpsisResultMap">
		
		SELECT   
			e.ENTITYCODENAMESPACE AS entityNamespace, 
			e.ENTITYCODE AS entityName, 
			e.DESCRIPTION AS designation,
			e.ENTITYGUID AS uri
        
        FROM  
        	ENTITY e
        
        WHERE 
        	e.ENTITYCODE IN
    	    <foreach item="item" index="index" collection="entities" open="("
				separator="," close=")">
		      #{item}
		    </foreach> 
	
        <include refid="common.limitOffset"/>	
	</select>
	
	<select id="resolveOneLevelRelations" resultType="string">	
		SELECT 
			eae.SOURCEENTITYCODE AS level, 
		
		FROM  
		
			ENTITYASSNSTOENTITY as eae

		WHERE
	    	eae.TARGETENTITYCODE = #{entity}
	
		    AND
		    
		    eae.ASSOCIATIONPREDICATEGUID = #{predicate}
	</select>
	
	<select id="resolveTransitiveRelationsFiveLevels" resultType="transitiveResult">
		
		SELECT 
			eae.SOURCEENTITYCODE AS level1, 
			eae2.SOURCEENTITYCODE AS level2, 
			eae3.SOURCEENTITYCODE AS level3, 
			eae4.SOURCEENTITYCODE AS level4, 
			eae5.SOURCEENTITYCODE AS level5
		
		FROM  
		
			ENTITYASSNSTOENTITY as eae
			
			LEFT JOIN
				ENTITYASSNSTOENTITY as eae2
			ON (
				eae.SOURCEENTITYCODE = eae2.TARGETENTITYCODE
				AND
				eae2.ASSOCIATIONPREDICATEGUID = #{predicate}
			)
			
			LEFT JOIN
				ENTITYASSNSTOENTITY as eae3
			ON (
				eae2.SOURCEENTITYCODE = eae3.TARGETENTITYCODE
				AND
				eae3.ASSOCIATIONPREDICATEGUID = #{predicate}
			)
			
			LEFT JOIN
				ENTITYASSNSTOENTITY as eae4
			ON (
				eae3.SOURCEENTITYCODE = eae4.TARGETENTITYCODE
				AND
				eae4.ASSOCIATIONPREDICATEGUID = #{predicate}
			)
			
			LEFT JOIN
				ENTITYASSNSTOENTITY as eae5
			ON (
				eae4.SOURCEENTITYCODE = eae5.TARGETENTITYCODE
				AND
				eae5.ASSOCIATIONPREDICATEGUID = #{predicate}
			)

		WHERE
<!-- 	    	eae.TARGETENTITYCODE = #{entity} -->

	    	eae.TARGETENTITYCODE IN
    	    <foreach item="item" index="index" collection="entities" open="("
				separator="," close=")">
		      #{item}
		    </foreach> 
	
		    AND
		    
		    eae.ASSOCIATIONPREDICATEGUID = #{predicate}

	</select>
	
	<select id="getEntries" resultType="valueSetDefinitionEntryInfo">
		
		SELECT 
			vse.ENTITYCODE AS entityCode,
			vse.TRANSITIVECLOSURE AS isTransitive,
			ap.ASSOCIATIONPREDICATEGUID AS predicateGuid
		FROM  
			VALUESETDEFINITION as vsd
		
		LEFT JOIN
			VSDENTRY AS vse
		ON vsd.VALUESETDEFGUID = vse.VALUESETDEFGUID
		
		INNER JOIN
			VSSUPPORTEDATTRIB AS vssa
		ON (
			vsd.VALUESETDEFGUID = vssa.REFERENCEGUID
			AND
			vssa.ID = vsd.DEFAULTCODINGSCHEME
		)
		
		INNER JOIN 
			CODINGSCHEME AS cs
		ON vssa.URI = cs.CODINGSCHEMEURI
		
		INNER JOIN 
			RELATION AS rel
		ON (
			cs.CODINGSCHEMEGUID = rel.CODINGSCHEMEGUID
			AND
			rel.containerName = 'relations'
		)
		
		INNER JOIN 
			ASSOCIATIONPREDICATE AS ap
		ON (
			ap.RELATIONGUID = rel.RELATIONGUID
			AND
			ap.ASSOCIATIONNAME = vse.REFERENCEASSOCIATION
		)
		WHERE
	    	<include refid="equalsVsDefName"/>	
        
	</select>
	
	<select id="getResolvedValueSetHeader" 
		resultMap="resolvedValueSetHeaderResultMap" parameterType="String">
		SELECT   cs.CODINGSCHEMENAME AS codeSystemName, cs.CODINGSCHEMEURI AS codeSystemUri, 
		cs.REPRESENTSVERSION AS codeSystemVersionName, cs.CODINGSCHEMEURI AS codeSystemVersionUri, 
		vsd.VALUESETDEFURI AS valueSetDefinitionUri, vsd.VALUESETDEFNAME AS valueSetDefinitionName
		FROM  VALUESETDEFINITION vsd, CODINGSCHEME cs
		WHERE 
		vsd.DEFAULTCODINGSCHEME= cs.CODINGSCHEMENAME AND

		<include refid="equalsVsDefName"/>	
		
	</select>

	<select id="getCodeSystemVersionReferenceListByValueSetDefinition" 
		resultMap="edu.mayo.cts2.framework.plugin.service.ecis.mybatis.dao.MybatisCodeSystemDao.codeSystemVersionReferenceResultMap">
		SELECT   cs.CODINGSCHEMENAME AS codeSystemName, cs.CODINGSCHEMEURI AS codeSystemUri, 
		cs.REPRESENTSVERSION AS codeSystemVersionName, cs.CODINGSCHEMEURI AS codeSystemVersionUri, 
		vsd.VALUESETDEFURI AS valueSetDefinitionUri, vsd.VALUESETDEFNAME AS valueSetDefinitionName
		FROM  VALUESETDEFINITION vsd, CODINGSCHEME cs
		WHERE 
		vsd.DEFAULTCODINGSCHEME= cs.CODINGSCHEMENAME AND
		
		<include refid="equalsVsDefName"/>		

	</select>

</mapper>